@{
    ViewBag.Title = "My Bio";
}

<h2>I have been playing Viola for 10 years. I’m a Black Belt in Taekwondo. I Graduated at the age of 16 at the top of my class, while completing extra curricular challenges like the 60 day challenge and running in the Colfax marathon. The reason why I am telling you this is because these are some reasons why I am a very motivated person and I put a lot of motivation into what I am doing. With me doing that I can guarantee that I can be a good employee for your company. </h2>
