@{
    ViewBag.Title = "Work";
}

<h2>
    <p>Work Experience</p>

 <p>Habit for Humanity	Denver, Co
<p>Co-pilot- October 2013 to December 2013</p>
Worked inside the Restore helping customers and taking in donations. I also worked on the donation truck which went to pick up donations from companies and people’s homes.
</p>
<p>Empereon Marketing	Denver, Co</p>
Product Specialist- April 2013 to May 2013
Worked in promotion department setting new customers up with services.</p>

<p>Seeknet LLC	Denver, Co</p>
Financial Security Officer Intern- November 2012 to December 2012.
<p>Transferred funds to companies that were investing in Seeknet.</p>

<p>KFC Denver, Co</p>
<p>Crew Member August 2012 to November 2012</p>
Operated cash register, took orders, cleaned dishes and made the food.</p>
    </h2>
